h1 {
  margin:65px;
}

.home {
  margin: 50px;
}

.home-img {
  height: 100%;
  width: 100%;
}

.nav-bar-element {
  margin: 10px;
  padding: 10px 30px 10px 30px;
  box-shadow: #63636333 0px 2px 8px 0px;
}

.articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.article-link {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #646CFF;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  width: 200px;
  white-space: nowrap;
  height: 20px;
}

.article-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin: 0;
}

.article-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgb(43, 43, 43);
    justify-content: start;
    margin: 10px;
    border-radius: 10px;
      background-color: rgba(240, 215, 215, 0.336);
  box-shadow: 0 0 8px 0 rgba(233, 230, 230, 0.4);
}

  .vertical-flex {
    display: flex;
    height: 100%;
  }

  .article-card-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

.article-card-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: x-small;
    align-items: center;
    justify-content: center;
}

.article-card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8em;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
  list-style-type: none;
}

.full-article-title {
  margin: 30px;
}

.full-article {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.full-article-img {
 width: 100%;
  max-width: 900px;
}

.full-article-info {
 display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-between;
  width: 100%;
}

.full-article-body {
  color: black;
  margin: 10px;
  padding: auto;
  font-size: 1.4em;
}

.vote-buttons {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.post-comment-form {
  margin: 30px;
}

.post-comment-form button {
  margin-top: 30px;
}

.comments {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 40px;
  max-width: 800px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.comment-form-button {
padding: 10px;
margin-left: 10px;
}

.comments form {
  margin: 0;
  padding: 0;
  width: 100%;
}

textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  margin: 0 20px 20px 20px;
  width: calc(100% - 60px);
}

.comment-card {
  margin: auto;
}

.comments-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 0;
}

.comment-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.comment-card-author{
  margin: 10px;
  font-weight: bold;
}

.comments-header{
 text-align: center;
}

.upvote-arrow {
  font-size: 25px;
}

.upvote-button {
  font-size: 20px;
  margin: 10px;
}

.card {
  display: flex;
  border: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.user-card {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.user-profile-pic {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.user-header {
  margin-top: 30px;
  margin-bottom: 50px;
}

.user-card-header {
  margin-left: 10px;
  margin-right: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
